## IntelliJ : https://github.com/github/gitignore/blob/master/Global

# User-specific stuff:
.idea/workspace.xml
.idea/vcs.xml

# Sensitive or high-churn files:
.idea/uiDesigner.xml

# Maven:
target/
